@import "tailwindcss";
@layer theme, base, components, utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-source-serif);
  --font-mono: var(--font-noto-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  font-family: var(--font-mono), system-ui, sans-serif;
  background-color: --background;
  color: --foreground;
}

*, p {
  font-family: var(--font-mono), system-ui, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-sans), system-ui, sans-serif;
}
