@import "tailwindcss";
@layer theme, base, components, utilities;

:root {
  
}

@theme inline {

}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

@layer components {
  body {
    font-family: var(--font-geist-sans), system-ui, sans-serif;
    background-color: white;
    color: black;
  }
}


